$colors = {
  green: #5ce673,
  red: #ff4d6a,
  yellow: #fac519,
  orange: #ff7a38,
  blue: #4dccff,
  purple: #6e66ff
}

:export 
  green: $colors.green
  red: $colors.red
  yellow: $colors.yellow
  orange: $colors.orange
  blue: $colors.blue
  purple: $colors.purple
  

