$colors = {
  green: #5ce673,
  red: #ff4d6a,
  yellow: #fac519,
  orange: #ff7a38,
  blue: #4dccff,
  purple: #6e66ff
}

:export 
  green: $colors.green
  red: $colors.red
  yellow: $colors.yellow
  orange: $colors.orange
  blue: $colors.blue
  purple: $colors.purple
  


@font-face
   font-family RTRaleway-Bold
   font-style bold
   src url("/fonts/RTRaleway-Bold.ttf")

@font-face
   font-family RTRaleway-ExtraBold
   font-style bolder
   src url("/fonts/RTRaleway-ExtraBold.ttf")

@font-face
   font-family RTRaleway-Light
   font-style light
   src url("/fonts/RTRaleway-Light.ttf")

body 
  margin 0px
  font-family RTRaleway, sans-serif
  color #292f33
  font-weight 300


@import ("/fonts/coins/cryptocoins.css")